In [1]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv("C:\\Users\\Komen\\Downloads\\ASd\\World Cities Database Population (OCT-2022).csv", sep = ';', na_filter=False ) 
df.head(5)

C:\Users\Komen\anaconda3\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,"Coordinates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,,,,3900,,122,Europe/Kirov,2012-01-17,Russian Federation,"57.46042,48.542,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,,,,2355,,120,Europe/Moscow,2012-01-17,Russian Federation,"54.57768,41.81448,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,,,,1308,,17,Europe/Moscow,2016-12-20,Russian Federation,"59.80222,30.50694,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,,,,3112,,67,Europe/Moscow,2012-01-17,Russian Federation,"57.54089,28.01257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,,,,3236,,115,Europe/Moscow,2012-01-17,Russian Federation,"44.69139,44.17444,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..."

## Data cleaning and preprocessing

In [106]:
column_names = list(df.columns)
column_names[-1] = 'Coordinates'
df.columns = column_names
df['Coordinates'] = df['Coordinates'].apply(lambda x: str(x).split(',')[:2])

In [107]:
df['Coordinates']

0           [57.46042, 48.542]
1         [54.57768, 41.81448]
2         [59.80222, 30.50694]
3         [57.54089, 28.01257]
4         [44.69139, 44.17444]
                  ...
140629    [45.72176, 33.23689]
140630    [48.14431, 30.82103]
140631    [44.93845, 35.15834]
140632    [51.50208, 23.93806]
140633    [46.30452, 29.01519]
Name: Coordinates, Length: 140634, dtype: object

In [78]:
df

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,,,,3900,,122,Europe/Kirov,2012-01-17,Russian Federation,"[57.46042, 48.542]"
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,,,,2355,,120,Europe/Moscow,2012-01-17,Russian Federation,"[54.57768, 41.81448]"
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,,,,1308,,17,Europe/Moscow,2016-12-20,Russian Federation,"[59.80222, 30.50694]"
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,,,,3112,,67,Europe/Moscow,2012-01-17,Russian Federation,"[57.54089, 28.01257]"
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,,,,3236,,115,Europe/Moscow,2012-01-17,Russian Federation,"[44.69139, 44.17444]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140629,693588,Slavnoye,Slavnoye,"Bakal Tatarskij,Slavne,Slavnoe,Slavnoye,Бака́л...",P,PPLA3,UA,Ukraine,,11,695741,11153039,,914,8,12,Europe/Simferopol,2016-08-11,Ukraine,"[45.72176, 33.23689]"
140630,693760,Syniukhyn Brid,Syniukhyn Brid,"Sinjukhin Brid,Sinjukhin Brod,Sinyukhin Brod,S...",P,PPL,UA,Ukraine,,16,697571,,,1708,99,99,Europe/Kyiv,2022-09-01,Ukraine,"[48.14431, 30.82103]"
140631,694320,Shchebetovka,Shchebetovka,"Otus,Otuz,Otuzy,Shchebetovka,Shebetovka,Shhebe...",P,PPL,UA,Ukraine,,11,8449683,,,3442,79,77,Europe/Simferopol,2021-05-07,Ukraine,"[44.93845, 35.15834]"
140632,694333,Shatsk,Shatsk,"Shac'k,Shats'k,Shatsk,Shats’k,Szack,Шатск,Шатс...",P,PPL,UA,Ukraine,,24,,,,5266,,167,Europe/Kyiv,2022-09-01,Ukraine,"[51.50208, 23.93806]"
140633,694427,Serpneve,Serpneve,"Leipzig,Ljajpcig,Sehrpnehveh,Serpneve,Serpnevo...",P,PPL,UA,Ukraine,,17,691821,,,1774,52,52,Europe/Kyiv,2022-09-01,Ukraine,"[46.30452, 29.01519]"

In [32]:
df.head()

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,,,,3900,,122,Europe/Kirov,2012-01-17,Russian Federation,"[57.46042, 48.542]"
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,,,,2355,,120,Europe/Moscow,2012-01-17,Russian Federation,"[54.57768, 41.81448]"
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,,,,1308,,17,Europe/Moscow,2016-12-20,Russian Federation,"[59.80222, 30.50694]"
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,,,,3112,,67,Europe/Moscow,2012-01-17,Russian Federation,"[57.54089, 28.01257]"
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,,,,3236,,115,Europe/Moscow,2012-01-17,Russian Federation,"[44.69139, 44.17444]"

In [108]:
df.isnull().sum()

Geoname ID                 0
Name                       0
ASCII Name                 0
Alternate Names            0
Feature Class              0
Feature Code               0
Country Code               0
Country name EN            0
Country Code 2             0
Admin1 Code                0
Admin2 Code                0
Admin3 Code                0
Admin4 Code                0
Population                 0
Elevation                  0
DIgital Elevation Model    0
Timezone                   0
Modification date          0
LABEL EN                   0
Coordinates                0
dtype: int64

In [37]:
column_names

['Geoname ID',
 'Name',
 'ASCII Name',
 'Alternate Names',
 'Feature Class',
 'Feature Code',
 'Country Code',
 'Country name EN',
 'Country Code 2',
 'Admin1 Code',
 'Admin2 Code',
 'Admin3 Code',
 'Admin4 Code',
 'Population',
 'Elevation',
 'DIgital Elevation Model',
 'Timezone',
 'Modification date',
 'LABEL EN',
 'Coordinates']

In [109]:
df['Latitude'] = df['Coordinates'].apply(lambda x: x[0])
df['Longitude'] = df['Coordinates'].apply(lambda x: x[-1])

In [110]:
df['Latitude']

0         57.46042
1         54.57768
2         59.80222
3         57.54089
4         44.69139
            ...
140629    45.72176
140630    48.14431
140631    44.93845
140632    51.50208
140633    46.30452
Name: Latitude, Length: 140634, dtype: object

In [111]:
df['Longitude']

0           48.542
1         41.81448
2         30.50694
3         28.01257
4         44.17444
            ...
140629    33.23689
140630    30.82103
140631    35.15834
140632    23.93806
140633    29.01519
Name: Longitude, Length: 140634, dtype: object

In [112]:
df['Latitude'] = pd.to_numeric(df['Latitude'], errors = 'coerce')
df['Longitude'] = pd.to_numeric(df['Longitude'], errors = 'coerce')

In [113]:
df['Latitude']

0         57.46042
1         54.57768
2         59.80222
3         57.54089
4         44.69139
            ...
140629    45.72176
140630    48.14431
140631    44.93845
140632    51.50208
140633    46.30452
Name: Latitude, Length: 140634, dtype: float64

In [114]:
df['Coordinates']

0           [57.46042, 48.542]
1         [54.57768, 41.81448]
2         [59.80222, 30.50694]
3         [57.54089, 28.01257]
4         [44.69139, 44.17444]
                  ...
140629    [45.72176, 33.23689]
140630    [48.14431, 30.82103]
140631    [44.93845, 35.15834]
140632    [51.50208, 23.93806]
140633    [46.30452, 29.01519]
Name: Coordinates, Length: 140634, dtype: object

In [115]:
df['Country Code']

0         RU
1         RU
2         RU
3         RU
4         RU
          ..
140629    UA
140630    UA
140631    UA
140632    UA
140633    UA
Name: Country Code, Length: 140634, dtype: object

In [116]:
df['Country Code'] = df['Country Code'].fillna('NA')
df['Country Code']

0         RU
1         RU
2         RU
3         RU
4         RU
          ..
140629    UA
140630    UA
140631    UA
140632    UA
140633    UA
Name: Country Code, Length: 140634, dtype: object

## converting population & elevation columns to numeric

In [117]:
df['Population'] = df['Population'].apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

df['Elevation'] = df['Population'].apply(lambda x: pd.to_numeric(x, errors = 'coerce'))

In [118]:
df['Elevation']

0         3900.0
1         2355.0
2         1308.0
3         3112.0
4         3236.0
           ...
140629     914.0
140630    1708.0
140631    3442.0
140632    5266.0
140633    1774.0
Name: Elevation, Length: 140634, dtype: float64

In [119]:
df.head()

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,...,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates,Latitude,Longitude
0,509184,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",P,PPL,RU,Russian Federation,,33,...,,3900.0,3900.0,122,Europe/Kirov,2012-01-17,Russian Federation,"[57.46042, 48.542]",57.46042,48.54200
1,509273,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",P,PPL,RU,Russian Federation,,62,...,,2355.0,2355.0,120,Europe/Moscow,2012-01-17,Russian Federation,"[54.57768, 41.81448]",54.57768,41.81448
2,510139,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",P,PPL,RU,Russian Federation,,66,...,,1308.0,1308.0,17,Europe/Moscow,2016-12-20,Russian Federation,"[59.80222, 30.50694]",59.80222,30.50694
3,513051,Palkino,Palkino,"Palkino,Палкино,Պալկինո",P,PPL,RU,Russian Federation,,60,...,,3112.0,3112.0,67,Europe/Moscow,2012-01-17,Russian Federation,"[57.54089, 28.01257]",57.54089,28.01257
4,514906,Orlovka,Orlovka,"Orlovka,Орловка",P,PPL,RU,Russian Federation,,70,...,,3236.0,3236.0,115,Europe/Moscow,2012-01-17,Russian Federation,"[44.69139, 44.17444]",44.69139,44.17444

## Dropping the columns that are not needed

In [120]:
df = df.iloc[:, [1,2,3,6,7,-9,-8,-6,-4,-2,-1]]

In [121]:
df.isna().sum()

Name               0
ASCII Name         0
Alternate Names    0
Country Code       0
Country name EN    0
Population         1
Elevation          1
Timezone           0
LABEL EN           0
Latitude           2
Longitude          2
dtype: int64

In [122]:
df.to_csv('Population_cleaned.csv', sep = ',', index = False)

In [123]:
df.head()

,Name,ASCII Name,Alternate Names,Country Code,Country name EN,Population,Elevation,Timezone,LABEL EN,Latitude,Longitude
0,Pizhanka,Pizhanka,"Pizhanka,Pizjanka,Пижанка",RU,Russian Federation,3900.0,3900.0,Europe/Kirov,Russian Federation,57.46042,48.54200
1,Pitelino,Pitelino,"Petelino,Pitelino,Пителино",RU,Russian Federation,2355.0,2355.0,Europe/Moscow,Russian Federation,54.57768,41.81448
2,Petro-Slavyanka,Petro-Slavyanka,"Petro-Slav'anka,Petro-Slavjanka,Petro-Slavyank...",RU,Russian Federation,1308.0,1308.0,Europe/Moscow,Russian Federation,59.80222,30.50694
3,Palkino,Palkino,"Palkino,Палкино,Պալկինո",RU,Russian Federation,3112.0,3112.0,Europe/Moscow,Russian Federation,57.54089,28.01257
4,Orlovka,Orlovka,"Orlovka,Орловка",RU,Russian Federation,3236.0,3236.0,Europe/Moscow,Russian Federation,44.69139,44.17444